<ion-header>
    <ion-toolbar color="tertiary">
      <ion-button slot="start" fill="clear" (click)="closeChat()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-title>{{name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
  <ul>
    <li *ngFor="let msg of mensajes">{{msg}}</li>
  </ul>
</ion-content>
<ion-footer padding>
  <ion-item>
    <ion-textarea [(ngModel)]="message"></ion-textarea>
    <ion-button color="danger" (click)="sendMessage()">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>